h3 { text-decoration: underline; }

.titleBox { 
	border: 1px dotted blue;
	background-color: orange; 
	color: white; 
	padding: 10px 0px; 
	text-align: center; 
}

button { margin: 15px 0px; }





#instructionsBtn { margin: 15px 40px; }

.instructionsBox { border: 1px dotted blue; background-color: beige; color: green; font-family: times; font-size: 16px; margin-bottom: 30px; }

.randomBox { border: 1px dotted blue; padding: 5px 0px 10px 0px; background-color: teal; color: white; font-size: 24px; text-align: center; margin-right: 20px; }

.scoreBox { border: 1px dotted blue; font-size: 22px; background-color: aqua; color: black; padding: 17px; }


.crystalBox { border: 1px dotted blue; margin: 15px 0px 15px 0px; }

.crystalPic { border: 1px dotted blue; max-width: 50px; max-height: 50px; margin: 0px 0px; }

.scoreTitle { border: 1px dotted blue; color: white; font-size: 18px; background-color: green; padding: 10px 0px; }

.userScore { border: 1px dotted blue; background-color: green; }

.scoreboard.userScore { border: 1px dotted blue; color: white; font-size: 24px; padding-bottom: 100px; }